<ion-header>
  <ion-toolbar>
    <ion-title>Mes tâches</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="add">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [value]="currentTab" (ionChange)="onTabChange($event)">
      <ion-segment-button value="all">
        <ion-label>Toutes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="todo">
        <ion-label>À faire</ion-label>
      </ion-segment-button>
      <ion-segment-button value="in-progress">
        <ion-label>En cours</ion-label>
      </ion-segment-button>
      <ion-segment-button value="completed">
        <ion-label>Terminé</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
