<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Liste des tâches</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addTask()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding *ngFor="let task of tasks">
      <ion-item>
        <ion-chip [color]="getStatusColor(task.status)" slot="start">
          {{ getStatusLabel(task.status) }}
        </ion-chip>
        
        <ion-label>
          <h2>{{ task.title }}</h2>
          <p>{{ task.description }}</p>
          <ion-note>
            <ion-chip [color]="getImportanceColor(task.importance)" size="small">
              {{ getImportanceLabel(task.importance) }}
            </ion-chip>
            <br>
            Date limite: {{ task.dueDate | date:'short' }}
          </ion-note>
        </ion-label>

        <ion-buttons slot="end">
          <ion-button (click)="editTask(task.id!)" color="primary">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button (click)="confirmDelete(task.id!)" color="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
